
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block;
}

html{
  overflow-y: hidden;
}


body {
  margin: 0;
  padding: 0;
  font-family: Microsoft YaHei,tahoma,arial,Hiragino Sans GB,\\5b8b\4f53,sans-serif;
  background-color: rgb(235,235,235);
  overflow-y: hidden;
}
div{
  margin: 0;
  padding: 0;
}
ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li{
  padding: 0;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a:link, a:visited{
  text-decoration: none;
}
img{
  vertical-align: middle;
}
#left{
  /*box-sizing: border-box;*/
  border: 1px green solid;
  /*width: 159px;*/
  height:767px;
  /*float: left;*/
  margin: 0;
  padding: 0;
  position: relative;
  background-color: white;
}

#myTabContent{
  border: 1px solid blue;
  box-sizing: border-box;
}

#myTabContent span{
  width: 124px;
  border: 1px green solid;
}

.leftStyle:hover{
  cursor: pointer;
  background-color: #CEDBEF;
}

.leftShow{
  display: block;
}

.leftHide{
  display: none;
}

.left_i_down
{
  float: left;
  display: block;
  margin-top: 7px;
  margin-right: 3px;
  font-size: 0;
  height: 0;
  width: 0;
  /*上 左右 下*/
  border-width: 7px 5px 0;
  border-style: solid dashed;
  border-color: #000 transparent transparent;
}

.left_i_right{
  float: left;
  display: block;
  margin-top: 5px;
  margin-right: 3px;
  margin-left: 2px;
  font-size: 0px;
  height: 0px;
  width: 0px;
  border-width: 5px 0 5px 7px;
  border-color: transparent transparent transparent #000;
  border-style: solid;
}

.left_file_close{
  width: 20px;
  height: 20px;
  background: url("../image/文件夹关闭.png") no-repeat center;
  display: block;
  float: left;
  margin-left: -2px;
}

.left_file_open{
  width: 20px;
  height: 20px;
  background: url("../image/文件夹打开.png") no-repeat center;
  display: block;
  float: left;
  margin-left: -2px;
}


#leftBottomBtn{
  box-sizing: border-box;
  border:1px solid green;
  position:absolute;
  left:0;
  bottom:0;
}

#leftBottomBtn button{
  font-size: 14px;
  padding: 0;
}


#middle{
  /*width: 1600px;*/
  /*height:100%;*/
  height:767px;
  border: 1px solid red;
  /*float: left;*/
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#middleTop{
  height: 30px;
  border: 1px red solid;
  box-sizing: border-box;
}
#middleTop ul{
  float: left;
}

#middleTop ul .middleTopLeft{
  border: 1px red solid;
  box-sizing: border-box;
  float: left;
}
#middleTop ul .middleTopLeft input{
  width: 56px;
  height: 27px;
}






#middleTop ul .middleTopRight{
  border: 1px red solid;
  box-sizing: border-box;
  float: left;

}
/*#middleTop ul .middleTopRight{*/
  /*border: 1px red solid;*/
  /*box-sizing: border-box;*/
  /*float: left;*/
/*}*/


#middleTop .middleTopRight .icon-trunleft{
  background: url("../image/左转.png") no-repeat center ;
  background-size:27px 27px;
  width: 27px;
  height: 27px;
  display: inline-block;
  vertical-align: middle;
}
#middleTop .middleTopRight .icon-trunright{
  background: url("../image/右转.png") no-repeat center;
  background-size:27px 27px;
  width: 27px;
  height: 27px;
  display: inline-block;
  vertical-align: middle;
}
#middleTop .middleTopRight .icon-totop{
  background: url("../image/置顶.png") no-repeat center;
  background-size:22px 22px;
  width: 27px;
  height: 27px;
  display: inline-block;
  vertical-align: middle;
}
#middleTop .middleTopRight .icon-tobottom{
  background: url("../image/置底.png") no-repeat center;
  background-size:22px 22px;
  width: 27px;
  height: 27px;
  display: inline-block;
  vertical-align: middle;
}
#middleTop .middleTopRight .icon-toup{
  background: url("../image/上移一层.png") no-repeat center;
  background-size:27px 27px;
  width: 27px;
  height: 27px;
  display: inline-block;
  vertical-align: middle;
}
#middleTop .middleTopRight .icon-todown {
  background: url("../image/下移一层.png") no-repeat center;
  background-size:27px 27px;
  width: 27px;
  height: 27px;
  display: inline-block;
  vertical-align: middle;
}
#middleTop .middleTopRight .icon-delete {
  background: url("../image/删除.png") no-repeat center;
  background-size:22px 22px;
  width: 27px;
  height: 27px;
  display: inline-block;
  vertical-align: middle;
}
#middleTop .middleTopRight .icon-refresh {
  background: url("../image/刷新.png") no-repeat center;
  background-size:22px 22px;
  width: 27px;
  height: 27px;
  display: inline-block;
  vertical-align: middle;
}
#middleTop .middleTopRight .icon-export {
  background: url("../image/导出.png") no-repeat center;
  background-size:22px 22px;
  width: 27px;
  height: 27px;
  display: inline-block;
  vertical-align: middle;
}
#middleTop .middleTopRight .icon-保存 {
  background: url("../image/保存.png") no-repeat center;
  background-size:22px 22px;
  width: 27px;
  height: 27px;
  display: inline-block;
  vertical-align: middle;
}

#middleMid{
  height: 710px;
  border: 1px red solid;
  box-sizing: border-box;
}

#middleBottom{
  height: 27px;
  border: 1px red solid;
  box-sizing: border-box;
  line-height: 20px;
}

#middleBottom ul{
  border: 1px blue solid;
  box-sizing: border-box;
  line-height: 27px;
  height: 27px;
}

#middleBottom ul li{
  float: left;
  height: 27px;
  border: 1px green solid;
  box-sizing: border-box;
  line-height: 27px;
  padding: 0 20px;
}



.tool
{
  width:320px;
  margin-top:10px;
}



/*右侧的工具栏*/
#right{
  /*width: 100px;*/
  height:767px;
  /*height:100%;*/
  border:1px solid blue;
  box-sizing: border-box;
  /*float: left;*/
  margin: 0;
  padding: 0;
}

#right #rightTab{
  border: 1px red solid;
  box-sizing: border-box;
  width: 32px;
  float: left;
}
#right #rightTab li{
  text-align: left;
  width: 30px;
}
#right #rightTab li a{
  font-size: 12px;
  padding-left: 9px;
}


#rightTabContent{
  width: 92px;
  border: 1px solid green;
  margin-left: 33px;
}
/*#left1{*/
  /*width: 50px;*/
/*}*/
/*#left2{*/
  /*width: 50px;*/
/*}*/
/*右边的ul的显式内容*/
#rightTabContent ul{
  /*width: 50px;*/
  height: 767px;
  overflow-y:scroll;
}

.tool_part{
  width: 68px;
  height: 80px;
  margin: 5px 0;
  border: 1px red dashed;
  box-sizing: border-box;
  cursor:move;
}


