<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>useSVG</title>
  <link rel="stylesheet" href="../css/bootstrap.css">
  <link rel="stylesheet" href="../css/useSVG.css">


</head>
<body>
<div class="container-fluid">
<div class="row">

  <div id="left" class="col-md-1 col-xs-1 col-lg-1">
    <ul id="myTab" class="nav nav-tabs">
      <li class="active" style="width: 60px">
        <a href="#system" data-toggle="tab"  style="font-size: 12px">
          系统列表
        </a>
      </li>
      <li style="width: 60px"><a href="#equipment" data-toggle="tab"  style="font-size: 12px">设备列表</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade in active" id="system">
        <p>这是系统列表</p>
      </div>
      <div class="tab-pane fade" id="equipment">
        <p>这是设备列表</p>
      </div>
    </div>
  </div>

<div id="middle" class="col-md-10 col-xs-10 col-lg-10">
  <div id="middleTop">
    <ul>
      <li class="middleTopLeft">X(px):<input id="moveX" type="number" /></li>
      <li class="middleTopLeft">Y(px):<input id="moveY" type="number" /></li>
      <li class="middleTopLeft">旋转(°):<input id="rotate" type="number" /></li>
      <li class="middleTopLeft">X缩放(%):<input id="scaleX" type="number" /></li>
      <li class="middleTopLeft">Y缩放(%):<input id="scaleY" type="number" /></li>
      <li class="middleTopLeft">宽度固定(px):<input id="changeWidth" type="number" /></li>
      <li class="middleTopLeft">高度固定(px):<input id="changeHeight" type="number" /></li>
    </ul>
    <ul>
      <li class="middleTopRight"><i class="icon-trunleft"></i></li>
      <li class="middleTopRight"><i class="icon-trunright"></i></li>
      <li class="middleTopRight"><i class="icon-totop"></i></li>
      <li class="middleTopRight"><i class="icon-tobottom"></i></li>
      <li class="middleTopRight"><i class="icon-toup"></i></li>
      <li class="middleTopRight"><i class="icon-todown"></i></li>
      <li class="middleTopRight"><i class="icon-delete"></i></li>
      <li class="middleTopRight"><i class="icon-refresh"></i></li>
      <li class="middleTopRight"><i class="icon-export"></i></li>
      <li class="middleTopRight"><i class="icon-save"></i></li>
    </ul>
  </div>
  <div id="middleMid">

  </div>
  <div id="middleBottom">

  </div>
</div>
<div id="right" class="col-md-1 col-xs-1 col-lg-1">
  <ul>
    <li class="tool_part" type="all">
      <img src="../image/all.png" width="110px" height="60px" />
    </li>
    <li class="tool_part" type="baojing">
      <img src="../image/baojing.png" width="110px"  height="60px"/>
    </li>
    <li class="tool_part" type="green">
      <img src="../image/green.png" width="110px"  height="60px"/>
    </li>
    <li class="tool_part" type="picexample">
      <img src="../image/picexample.png" width="110px"  height="60px"/>
    </li>
    <li class="tool_part" type="redman">
      <img src="../image/redman.png" width="110px"  height="60px"/>
    </li>
    <li class="tool_part" type="year2013">
      <img src="../image/year2013.png" width="110px"  height="60px"/>
    </li>
    <li class="tool_part" type="zhengchang">
      <img src="../image/zhengchang.png" width="110px"  height="60px"/>
    </li>
    <li class="tool_part" type="red">
      <img src="../image/red.png" width="110px"  height="60px"/>
    </li>
  </ul>
  <!--<input type="button" ng-click="onsave()" value="点击保存">-->
  <!--<div ng-click="onsave()" style="cursor: pointer">点击保存</div>-->
  <!--<input  target="_blank" ng-click="onsave()">点击预览</input>-->
</div>
</div>
<!--<div id="info"></div>-->
</div>



<script src="../otherJs/jquery-3.2.1.js"></script>
<script src="../otherJs/bootstrap.js"></script>
<script src="../otherJs/jquery-ui.js"></script>
<script src="../otherJs/raphael.min.js"></script>
<script src="../js/useSVG.js"></script>
</body>
</html>