<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>useSVG</title>
  <link rel="stylesheet" href="../css/bootstrap.css">
  <link rel="stylesheet" href="../css/useSVG.css">
</head>
<body scroll="no">
<div class="container-fluid">
<div class="row">
  <div id="left" class="col-xs-1 col-sm-1 col-md-1  col-lg-1">
    <ul id="myTab" class="nav nav-tabs">
      <li class="active" style="width: 62px;">
        <a href="#system" data-toggle="tab"  style="font-size: 14px;padding: 0;">
          系统列表
        </a>
      </li>
      <li style="width: 62px">
        <a href="#equipment" data-toggle="tab"  style="font-size: 14px;padding: 0;">
          设备列表
        </a>
      </li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade in active" id="system">
        <!--===============-->
        <div>
          <div class="leftStyle" id="ntkt"><i class="left_i_down"></i><i class="left_file_close"></i>暖通空调</div>
        </div>
        <!--=================-->
        <div>
          <div class="leftStyle" id="jsps"><i class="left_i_down"></i><i class="left_file_close"></i>给水排水</div>
        </div>
       <!--================-->
        <div>
          <div class="leftStyle" id="bpd"><i class="left_i_down"></i><i class="left_file_close"></i>变配电</div>
        </div>
        <!--===============-->
        <div>
          <div class="leftStyle" id="xfxt"><i class="left_i_down"></i><i class="left_file_close"></i>消防系统</div>
        </div>
        <!--==============-->
        <div>
          <div class="leftStyle" id="spjk"><i class="left_i_down"></i><i class="left_file_close"></i>视频监控</div>
        </div>
        <!--=============-->
        <div>
          <div class="leftStyle" id="fdbj"><i class="left_i_down"></i><i class="left_file_close"></i>防盗报警</div>
        </div>
        <!--============-->
        <div>
          <div class="leftStyle" id="mjgl"><i class="left_i_down"></i><i class="left_file_close"></i>门禁管理</div>
        </div>
        <!--=============-->
        <div>
          <div class="leftStyle" id="ggzm"><i class="left_i_down"></i><i class="left_file_close"></i>公共照明</div>
        </div>
        <!--==============-->
        <div>
          <div class="leftStyle" id="yjzm"><i class="left_i_down"></i><i class="left_file_close"></i>夜景照明</div>
        </div>
        <!--===========-->
          <div>
          <div class="leftStyle" id="dtyx"><i class="left_i_down"></i><i class="left_file_close"></i>电梯运行</div>
        </div>
        <!--==============-->


        <!--====================-->
        <div>
          <div class="leftStyle" id="kltj"><i class="left_i_down"></i><i class="left_file_close"></i>客流统计</div>
          <div class="leftHide">
            <div class="leftStyle"><i class="left_i_down"></i><i class="left_file_close"></i>客流统计</div>
            <div class="leftHide">
              <div class="leftStyle"><i class="left_i_down"></i><i class="left_file_close"></i>平面图</div>
              <div class="leftHide">
                <p class="leftStyle">F1</p>
                <p class="leftStyle">F2</p>
                <p class="leftStyle">F3</p>
                <p class="leftStyle">F4</p>
                <p class="leftStyle">趋势图</p>
                <p class="leftStyle">B1</p>
              </div>
            </div>
          </div>
        </div>
        <!--===================-->
          <div>
            <div class="leftStyle" id="tcgl"><i class="left_i_down"></i><i class="left_file_close"></i>停车管理</div>
          </div>
          <div>
            <div class="leftStyle" id="nhgl"><i class="left_i_down"></i><i class="left_file_close"></i>能耗管理</div>
          </div>

        </div>

      <div class="tab-pane fade" id="equipment">
        <p>这是设备列表</p>
      </div>
    </div>



    <div  id="leftBottomBtn">
      <button id="modifyBtn">修改节点</button>
      <button id="addBtn">添加节点</button>
      <button id="deleteBtn">删除节点</button>
      <button id="searchBtn">查找节点</button>
    </div>
  </div>


<div id="middle" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
  <div id="middleTop">
    <ul id="middleTopLeftUl">
      <li class="middleTopLeft">X(px):<input id="moveX" name="x" type="number" /></li>
      <li class="middleTopLeft">Y(px):<input id="moveY" name="y" type="number" /></li>
      <li class="middleTopLeft">旋转(°):<input id="rotate" name="rotate" type="number" value="0"/></li>
      <li class="middleTopLeft">X缩放(%):<input id="scaleX" type="number" value="0"/></li>
      <li class="middleTopLeft">Y缩放(%):<input id="scaleY" type="number" value="0" /></li>
      <li class="middleTopLeft">宽度固定(px):<input id="changeWidth" name="width" type="number" /></li>
      <li class="middleTopLeft">高度固定(px):<input id="changeHeight" name="height" type="number" /></li>
    </ul>
    <ul id="middleTopRightUl">
      <li class="middleTopRight"><i class="icon-trunleft"></i></li>
      <li class="middleTopRight"><i class="icon-trunright"></i></li>
      <li class="middleTopRight"><i class="icon-totop"></i></li>
      <li class="middleTopRight"><i class="icon-tobottom"></i></li>
      <li class="middleTopRight"><i class="icon-toup"></i></li>
      <li class="middleTopRight"><i class="icon-todown"></i></li>
      <li class="middleTopRight"><i class="icon-delete"></i></li>
      <li class="middleTopRight"><i class="icon-refresh"></i></li>
      <li class="middleTopRight"><i class="icon-export"></i></li>
      <li class="middleTopRight"><i class="icon-save"></i></li>
    </ul>
  </div>
  <div id="middleMid">


  </div>
  <div id="middleBottom">
    <ul>
      <li>组件名称:<span id="componentName"></span></li>
      <li>设备ID:<span id="deviceId"></span></li>
      <li>设备名称:<span id="deviceName"></span></li>
      <li>设备参数:<span id="deviceParameter"></span></li>
    </ul>
  </div>
</div>
<div id="right" class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
    <ul id="rightTab" class="nav nav-pills nav-stacked">
      <li class="active">
        <a href="#right1" data-toggle="tab">
          自动绑点设备
        </a>
      </li>
      <li>
        <a href="#spetial" data-toggle="tab">
          特殊设备
        </a>
      </li>
      <li>
        <a href="#right3" data-toggle="tab">
          楼层平面
        </a>
      </li>
      <li>
        <a href="#deviceComp" data-toggle="tab">
          设备库
        </a>
      </li>
      <li>
        <a href="#commonComp" data-toggle="tab">
          基本组件
        </a>
      </li>
      <li>
        <a href="#pipe" data-toggle="tab">
          管道
        </a>
      </li>
      <li>
        <a href="#bg" data-toggle="tab">
          背景
        </a>
      </li>
      <li>
        <a href="#tuli" data-toggle="tab">
          图例
        </a>
      </li>
    </ul>
    <div id="rightTabContent" class="tab-content">
      <ul class="tab-pane fade in active" id="right1">
        <!--<li>自动绑点设备</li>-->
        <!--<li class=".tool_part" type="all">-->
          <!--<img src="../image/all.png" width="110px" height="60px" />-->
        <!--</li>-->
      </ul>
      <ul class="tab-pane fade" id="spetial">
        <!--<li>特殊设备</li>-->
      </ul>
      <ul class="tab-pane fade" id="right3">
        <!--<li>楼层平面</li>-->
      </ul>
      <ul class="tab-pane fade" id="deviceComp">
        <!--<li>设备库</li>-->
      </ul>
      <ul class="tab-pane fade" id="commonComp">
        <!--<li>基本组件</li>-->
      </ul>
      <ul class="tab-pane fade" id="pipe">
        <!--<li>管道</li>-->
      </ul>
      <ul class="tab-pane fade" id="bg">
        <!--<li>背景</li>-->
      </ul>
      <ul class="tab-pane fade" id="tuli">

      </ul>

    </div>



  <!--<input type="button" ng-click="onsave()" value="点击保存">-->
  <!--<div ng-click="onsave()" style="cursor: pointer">点击保存</div>-->
  <!--<input  target="_blank" ng-click="onsave()">点击预览</input>-->
</div>
</div>
<!--<div id="info"></div>-->
</div>



<script src="../otherJs/jquery-3.2.1.js"></script>
<script src="../otherJs/bootstrap.js"></script>
<script src="../otherJs/jquery-ui.js"></script>
<script src="../otherJs/raphael.min.js"></script>
<script src="../js/useSVG.js"></script>
</body>
</html>